*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/signing.properties
/key/
*.keystore
*.jks
*.p12
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/codeStyles/
